<div class="card">
  <div class="card-header bg-primary text-white">
    {{title}}
  </div>
  <div>
    <label>Filter by: </label><input type="text">
    <h5>Filtered by: </h5>
  </div>
  <div class="card-title mt-2 product-list-headers">
    <h5 class="image">
      <button class="btn btn-primary">Show Image</button>
    </h5>
    <h5 class="product">Product</h5>
    <h5 class="prod-code">Code</h5>
    <h5 class="date-available">Available</h5>
    <h5 class="price">Price</h5>
    <h5 class="rating">Rating</h5>
  </div>
  <div class="card-body">
    Card body...
  </div>
</div>