.list-container, .card-body {
    margin: 0;
    padding: 0;
}

.product-list-headers {
    display: flex;
    margin: .75rem;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #007bff;
}

.product-item {
    display: flex;
    margin: 0 .75rem;
    align-items: center;
    justify-content: center;  
    border-bottom: 1px solid rgb(214, 214, 214);
}

.image {
    flex-basis: 16.6vw;
}

.image > img {
    width: 50px;
    margin: 5px;
}

.product-name {
    flex-basis: 28.6vw;
}

.product-code {
    flex-basis: 10.6vw;
}

.date-available {
    flex-basis: 16.6vw;
}

.price {
    flex-basis: 10.6vw;
}

.rating {
    flex-basis: 16.6vw;
    border: 1px solid purple;
}