<div class="card">
  <div class="card-header bg-primary text-white">
    {{title}}
  </div>
  <div>
    <label>Filter by: </label> 
    <input type="text" [(ngModel)]='listFilter' />
    <h5>Filtered by: {{listFilter}}</h5>
  </div>
  <div class="list-container">
    <div class="card-title mt-2 product-list-headers">
      <h5 class="image">
        <button class="btn btn-primary" (click)='toggleImage()'>{{showImage ? 'Hide' : 'Show'}} Images</button>
      </h5>
      <h5 class="product-name">Product</h5>
      <h5 class="prod-code">Code</h5>
      <h5 class="date-available">Available</h5>
      <h5 class="price">Price</h5>
      <h5 class="rating">Rating</h5>
    </div>
    <div class="card-body" *ngIf='products && products.length'>
      <div class="product-item" *ngFor='let product of filteredProducts'>
        <div class="image"><img *ngIf='showImage' [src]='product.imageUrl' [title]='product.productName'></div>
        <div class="product-name">{{product.productName}}</div>
        <div class="product-code">{{product.productCode | lowercase | convertToSpaces:'-'}}</div>
        <div class="date-available">{{product.releaseDate}}</div>
        <div class="price">{{product.price | currency:'USD':true:'1.2-2'}}</div>
        <div class="rating">{{product.rating}}</div>
      </div>
    </div>
  </div>
</div>